@import './variables';

body {
    overscroll-behavior-x: none !important;
    overscroll-behavior-y: none !important;
    overscroll-behavior: none !important;
    overflow-x: hidden;
}



////////////////////////////////////////

.no-select {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently not supported by any browser */
}

////////////////////////////////////////

.fa-spin {
    -webkit-animation: fa-spin 0.4s infinite linear;
    animation: fa-spin 0.4s infinite linear;
}

////////////////////////////////////////

p:empty {
    display: none;
}


$dark: #33373e;
$primary: #1bc3fe;
$secondary: #d1f18a;




.list-menu {
    list-style: none;
    margin:0;
    padding:0 0 0 15px;

    li {
        display: inline;
        padding:0;
        margin:0;

        a {
            display: block;
            color: inherit;
            padding:3px 0;
            font-weight: 500;
            opacity: 0.5;

            &:hover,
            &.active {
                opacity: 1;
                color: $primary;
            }
        }

    }
}



//Styling mentioned names
mention {
    display: inline;
    background: rgba(#000, 0.1);
    color: rgba(#000, 0.6);
    font-size: 0.9rem;
    font-weight: 500;
    border-radius: 3px;
    padding: 0.3rem 0.5rem;
    white-space: nowrap;
}

pre {
    background: rgba(#000, 0.05);
    padding: 10px;
    margin: 10px;
}

//////////////////////////////////////////

h1,
.h1 {
    font-size: 2.8em;

    @media(max-width: 768px) {
        font-size: 1.8em;
    }
}

h2,
.h2 {
    font-size: 2em;

    @media(max-width: 768px) {
        font-size: 1.3em;
    }
}

h3,
.h3 {
    font-size: 1.7em;

    @media(max-width: 768px) {
        font-size: 1.3em;
    }
}

h4,
.h4 {
    font-size: 1.5em;

    @media(max-width: 768px) {
        font-size: 1.3em;
    }
}

h5,
.h5 {
    font-size: 1.2em;

    @media(max-width: 768px) {
        font-size: 1.3em;
    }
}

h6,
.h6 {
    font-size: 1.1em;

    @media(max-width: 768px) {
        font-size: 1.3em;
    }
}




$headings: 'h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6';

#{$headings} {
    //Affect all headings here
    letter-spacing: -0.02em;
    margin: 1em 0 1em;
    line-height: 1em;

    &:first-child {
        margin-top: 0;
    }

    &.text-muted,
    &.muted,
    .text-muted,
    .muted {
        font-weight: normal;
    }

    &[title] {
        margin:0;
    }

    @media(max-width: 768px) {
        line-height: 36px;//1.2;
    }
}



//////////////////////////////////////////

hr {
    border: none;
    border-top: 1px solid rgba(#000, 0.1);
}

//////////////////////////////////////////

[dark] {
    background: $dark;

    color: #fff;
}

[primary] {
    background: $primary;
    color: #fff;
}


[centered] {
    text-align: center;
}


.border-top {
    border-top: 1px solid rgba(#000, 0.1);
}

.border-bottom {
    border-bottom: 1px solid rgba(#000, 0.1);
}

//////////////////////////////////////////

.xl {
    font-size: 1.4em;
}

.lg {
    font-size: 1.2em;
}

.sm {
    font-size: 0.8em;
}

.xs {
    font-size: 0.6em;
}

.text-muted,
.muted {
    opacity: 0.5;
}

//////////////////////////////////////////

.v-dialog {
    width:auto !important;
}
//////////////////////////////////////////

/**/
.v-btn {
    letter-spacing: 0.07em;
    font-weight: 700;
    box-shadow: none !important;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;


    .v-btn__content {
        line-height: 1;
         // text-transform: none;
    }

    @media(max-width: 768px) {
        .v-btn__content {
            white-space: normal;
            max-width: 100%;
            line-height: 1.2;
        }
    }

    svg[right] {
        margin-left:10px;
    }
}
/**/


.field-group {
        display: block;
        margin-bottom: 1.5em;

        & > label {
            display: block;
            font-weight: 700;
            margin-bottom: 0.3em;
            text-transform: uppercase;
            letter-spacing: 0.05em;
            font-size: 0.8em;
            // opacity:0.5;
        }
    }

.block {
    border-top: 1px solid rgba(#000, 0.1);
    padding: 1em 0;
    margin-bottom: 1em;

    &:first-child {
        border-top:none;
    }

    &>label {
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 0.05em;
        margin: 0.5em 0 1em 0;
        display: block;
    }

    
}

.fluro-editor-textarea {
    background: #fff;
}

img {
    max-width: 100%;
    height:auto;
}

.body-text {
    font-size: 1.1em;
    img {
        display: block;
        margin:1em 0;
        padding: 5px;
        background-color: #eee;
        border-radius: 5px;
    }
}


blockquote {
    padding: 3% 5%;
    margin: 4% 2%;
    border-left: 3px solid $primary;
    background: rgba(#000, 0.03);
    display: block;
    font-style: italic;
}


.footer {
    margin-top:20px;
    background: #fff;
    padding: 20px 0;
    text-align: center;

    a {
        color: inherit;
        text-decoration: none;
        opacity: 0.5;

        &:hover {
            opacity: 1;
        }
    }
}




code {
    background: rgba($secondary, 0.8);
    color: darken($secondary, 50%);
    font-family: inherit;
    font-weight: normal;
    padding: 0 5px;
    box-shadow: none;
}

table.table {
    border-collapse: collapse;
    border-spacing: none;
    margin-bottom: 35px;
    width: 100%;


    &.table.striped {
        tr:nth-child(odd) {
            td {
                background: rgba(#000, 0.5);
            }
        }
    }

    // &.table-bordered {

    tr,
    td,
    th {
        padding: 0.5em;
        border: 1px solid #ddd;
    }

    th {
        background: rgba(#000, 0.1);
    }

    // }
}