<template>
    <wrapper>
        <constrain sm>
            <div title>
                <h1 v-if="!user">Why, hello there!</h1>
                <h1 v-if="user">Hey {{user.firstName}}!</h1>
                <!-- <v-select v-model=mark :items="availableMarks" item-value='value' item-text='name' /> -->
                <h2>Apex</h2>
                <template>
                    <div>
                        <apexchart type="bar" :options="apexoptions" :series="series"></apexchart>
                    </div>
                    <pre>
					{{apexoptions}}
                </pre>
                </template>
                <pre v-if="eventData">
					{{eventData }}
                </pre>
            </div>
        </constrain>
    </wrapper>
</template>
<script>
/////////////////////////////////////////

//Mixin SEO and head
import SEOMixin from '@/mixins/SEOMixin';
import UserMixin from '@/mixins/UserMixin';

//Get our components from FluroVue
import { Layout, FluroContentFormField } from 'fluro-vue';


/////////////////////////////////////////

export default {
    components: {
        FluroContentFormField,
    },
    mixins: [SEOMixin, UserMixin, Layout],
    data() {
        return {
            examples: {
                image: '<fluro-image contain item="5bd6340d1a289a5dfac59369" :width="1920" :height="1280" :spinner="true" />',
            },

            // availableMarks: [{ name: 'Bar', value: 'bar' }, { name: 'Point', value: 'point' }, { name: 'Circle', value: 'circle' }, { name: 'Line', value: 'line' }],

            apexoptions: {
                chart: {
                    id: 'vuechart-example',
                    animations: {
                        enabled: true,
                        easing: 'linear',
                        speed: 800,
                        animateGradually: {
                            enabled: true,
                            delay: 150
                        },
                        dynamicAnimation: {
                            enabled: true,
                            speed: 350
                        }
                    },
                    zoom: {
                        enabled: true,
                        type: 'x',
                        zoomedArea: {
                            fill: {
                                color: '#90CAF9',
                                opacity: 0.4
                            },
                            stroke: {
                                color: '#0D47A1',
                                opacity: 0.4,
                                width: 1
                            }
                        }

                    },
                    toolbar: {
                        show: true,
                        tools: {
                            download: true,
                            selection: true,
                            zoom: true,
                            zoomin: true,
                            zoomout: true,
                            pan: true,
                            reset: true | '<img src="/static/icons/reset.png" width="20">',
                            customIcons: []
                        },
                        autoSelected: 'zoom'
                    },
                },

            },
            series: []

        }


    },


    methods: {
        updateApexOptions: function(data) {
            var self = this;
            var xAxisCategories = []

            var yaxis = [{
                name: _.get(data[0], 'title'),
                data: []
            }]
            console.log("Self", self)
            _.each(data, function(item) {
                console.log("Item", item)

                yaxis[0].data.push({
                    x: _.get(item, 'startDate'),
                    y: _.get(item, 'stats.checkin')
                })

            })
            self.apexoptions.xaxis = {
                type: 'datetime'
            }

            self.series = yaxis

            self.$forceUpdate()
        },
    },
    
    asyncComputed: {
        eventData: {
            default: [],
            get() {
                var self = this;
                return new Promise(function(resolve, reject) {

                    self.$fluro.api.get('/chart/event')
                        .then(function(res) {
                            var output = _.chain(res.data)
                                .map(function(item) {
                                    if (_.get(item, 'track._id') == "5923a8be2b5ab52ecd519129") {
                                        return item
                                    }
                                })
                                .compact()
                                .value();

                            self.updateApexOptions(output)
                            return resolve(output);

                        }, reject);
                });
            }
        }
    },

}
</script>
<style>
</style>