<template>
    <v-container grid-list-xl fluid>
        <h1>Events <span class="muted">Overview</span></h1>
        <!-- <pre>{{eventData}}</pre> -->
        <template v-if="loading">
            <div class="text-xs-center">
                <v-progress-circular indeterminate></v-progress-circular>
            </div>
        </template>
        <template v-else>
            <template v-if="eventData">
                <!-- <h4>Breakdown</h4> -->
                <!-- <v-layout row wrap>
                <v-flex>
                    <v-select label="Metric" v-model="breakdownMetric" :items="availableMetrics"></v-select>
                </v-flex>
            </v-layout> -->
                <!-- <v-layout row wrap> -->
                <!-- <v-flex xs12 v-if="eventTracks"> -->
                <!-- <trend-chart title="Event Tracks" :type="chartType" :data="eventTracks" /> -->
                <!-- </v-flex> -->
                </v-layout>
                <!-- <v-toolbar> -->
                <!-- <v-toolbar-items> -->
                <v-btn flat :to="{name:'events'}" exact-active-class="v-btn--active" active-class="none">Overview</v-btn>
                <v-btn flat :to="{name:'events.section', params:{metric:metric.value}}" v-for="(metric, metricIndex) in availableMetrics">
                    {{metric.text}}
                </v-btn>
                <!-- </v-toolbar-items> -->
                <!-- </v-toolbar> -->
                </v-layout>
                <template v-if="$route.name == 'events'">
                    <v-layout row wrap>
                        <v-flex xs12  v-if="eventStats">
                            <trend-chart title="Event Metrics Overview"  :data="eventStats" />
                            <!-- <pre>{{eventStats}}</pre> -->
                        </v-flex>
                        <!-- <v-flex xs12 md4> -->
                            <!-- <gauge-chart label="Checked In" :min="0" :value="63.5999" :max="100"></gauge-chart> -->
                            <!-- <pie-chart :data="pieBreakdown"/> -->
                            
                        <!-- </v-flex> -->
                        <v-flex xs12 v-if="eventTracksHeadcount">
                            <trend-chart title="Headcount by Event Track" :data="eventTracksHeadcount" />
                        </v-flex>
                        <v-flex xs12 v-if="eventTracksHeadcount">
                            <trend-chart title="Checkins by Event Track" :data="eventTracksCheckin" />
                        </v-flex>
                    </v-layout>
                </template>
                <router-view v-else :metric="currentMetric" :event-data="eventData" />
            </template>
        </template>
    </v-container>
</template>
<script>
import TrendChart from '@/components/reporting/TrendChart.vue';

import moment from 'moment';
import Vue from 'vue';
import _ from 'lodash';




var formatDay = 'dddd D MMM YYYY';
var formatWeek = '[Week] W YYYY';
var formatMonth = 'MMM YYYY';
var formatYear = 'YYYY';


/////////////////////////////////////////

export default {
    components: {
        TrendChart,
    },
    data() {
        return {


            


            ////////////////////////

            loading: true,
            metrics: [
                'checkin',
                'headcount',
                'ticketsSold',
                'ticketsCollected',
                'assignmentAssigned',
                'assignmentConfirmed',
                'view',
            ],
        }
    },
    computed: {
        currentMetric() {
            return _.find(this.availableMetrics, { value: this.$route.params.metric });
        },
        availableMetrics() {
            return [

                {
                    text: 'Checkins',
                    value: 'checkin',
                },
                {
                    text: 'Headcount',
                    value: 'headcount',
                },
                {
                    text: 'Tickets Sold',
                    value: 'ticketsSold',
                },
                {
                    text: 'Tickets Collected',
                    value: 'ticketsCollected',
                },

                {
                    text: 'Posts',
                    value: 'post',
                },

                // {
                //     text: 'Rostered Assignments',
                //     value: 'assignmentAssigned',
                // },
                // {
                //     text: 'Confirmed Assignments',
                //     value: 'assignmentConfirmed',
                // },
                // {
                //     text: 'Declined Assignments',
                //     value: 'assignmentDenied',
                // },

                {
                    text: 'Views',
                    value: 'view',
                },
            ]
        },
        pieBreakdown() {

            var data = this.filteredCheckinData;



            var output = data;

            return output;
        },
        eventStats() {

            var self = this;

            var values = _.map(self.eventData, function(event) {
                return {
                    title: event.title,
                    date: new Date(event.startDate),
                    values: event.stats,
                }
            })


            var series = [

                {
                    title: 'Headcount',
                    key: 'headcount',
                    options: {
                        metricName: 'Headcount'
                    },
                },
                {
                    title: 'Checked In',
                    key: 'checkin',
                    // options: { type: 'column', stroke: { dashArray: 1, width: 1, curve: 'stepline' } },
                    options: {
                        metricName: 'Checked in',
                    },
                },

                {
                    title: 'Tickets Sold',
                    key: 'ticketsSold',
                    // options: { type: 'column', stroke: { dashArray: 1, width: 1, curve: 'stepline' } },
                    options: {
                        metricName: 'Tickets Sold',
                    },
                },

                {
                    title: 'Tickets Collected',
                    key: 'ticketsCollected',
                    // options: { type: 'column', stroke: { dashArray: 1, width: 1, curve: 'stepline' } },
                    options: {
                        metricName: 'Tickets Collected',
                    },
                },



                // {
                //     title: 'Views',
                //     key: 'view',
                //     options: {},
                // },

                {
                    title: 'Rostered',
                    key: 'assignmentAssigned',
                    options: {
                        metricName: 'Rostered',
                    },
                },

                // {
                //     title: 'Confirmed',
                //     key: 'assignmentConfirmed',
                //     options: {},
                // },

                // {
                //     title: 'Declined',
                //     key: 'assignmentDenied',
                //     options: {},
                // },


            ];

            var output = {
                series: series,
                values: values,
            }

            return output;
        },
        filteredCheckinData() {
            var self = this;
            return _.filter(this.eventData, function(event) {
                if (!event.stats['checkin']) {
                    return;
                }

                return true;
            })
        },
        filteredHeadcountData() {
            var self = this;
            return _.filter(this.eventData, function(event) {
                if (!event.stats['headcount']) {
                    return;
                }

                return true;
            })
        },
        eventTracksHeadcount() {

            var self = this;


            var values = _.chain(self.filteredHeadcountData)
                .map(function(event) {

                    var trackID = _.get(event, 'track._id'); // || 'notrack';

                    if (!trackID) {
                        return;
                    }

                    var valueObject = {};
                    valueObject[trackID] = event.stats;


                    return {
                        title: event.title,
                        date: new Date(event.startDate),
                        values: valueObject,
                    }

                })
                .compact()
                .value();

            if (!values.length) {
                return
            }

            ///////////////////////////////////////////////////


            var series = _.chain(self.filteredHeadcountData)
                .reduce(function(set, event) {

                    var trackID = _.get(event, 'track._id'); // || 'notrack';
                    if (!trackID) {
                        return set;
                    }

                    var existing = set[trackID];
                    if (!existing) {
                        existing = set[trackID] = (event.track || { title: 'No track', _id: 'notrack' });
                    }

                    return set;
                }, {})
                .values()
                .map(function(track) {
                    return {
                        title: track.title,
                        key: `[${track._id}].headcount`,
                        options: {},
                    }
                })
                .value();


            ///////////////////////////////////////////////////



            var output = {
                series: series,
                values: values,
            }

            if (!values.length) {
                return;
            }

            return output;
        },
        eventTracksCheckin() {

            var self = this;


            var values = _.chain(self.filteredCheckinData)
                .map(function(event) {

                    var trackID = _.get(event, 'track._id'); // || 'notrack';

                    if (!trackID) {
                        return;
                    }

                    var valueObject = {};
                    valueObject[trackID] = event.stats;


                    return {
                        title: event.title,
                        date: new Date(event.startDate),
                        values: valueObject,
                    }

                })
                .compact()
                .value();

            if (!values.length) {
                return
            }

            ///////////////////////////////////////////////////


            var series = _.chain(self.filteredCheckinData)
                .reduce(function(set, event) {

                    var trackID = _.get(event, 'track._id'); // || 'notrack';
                    if (!trackID) {
                        return set;
                    }

                    var existing = set[trackID];
                    if (!existing) {
                        existing = set[trackID] = (event.track || { title: 'No track', _id: 'notrack' });
                    }

                    return set;
                }, {})
                .values()
                .map(function(track) {
                    return {
                        title: track.title,
                        key: `[${track._id}].checkin`,
                        options: {},
                    }
                })
                .value();


            ///////////////////////////////////////////////////



            var output = {
                series: series,
                values: values,
            }

            if (!values.length) {
                return;
            }

            return output;
        },
    },

    asyncComputed: {
        eventData: {
            // eventData: {
            default: [],
            get() {
                var self = this;
                return new Promise(function(resolve, reject) {
                    self.$fluro.api.get('/chart/event')
                        .then(function(res) {
                            resolve(res.data);
                            self.loading = false;
                        }, function(err) {
                            reject(err);
                            self.loading = false;
                        });
                });
            }
        },
    },
}
</script>
<style scoped lang="scss">
.small-label {
    color: rgba(#000, 0.54) !important;
    font-size: 12px;
    // transform: scale(0.75) !important;
}
</style>