<template>
    <v-layout row wrap>
        <v-flex xs12>
            <trend-chart title="Event Tracks" :data="eventTracks" />
        </v-flex>
        <v-flex xs12>
            <trend-chart :title="`Event ${metric.text} in all realms`" :data="eventRealms" />
        </v-flex>
        <v-flex xs12 sm12 md6>
            <trend-chart :title="`Event ${metric.text} by definition`" :data="eventDefinitions" />
        </v-flex>
        <template v-if="realmDefinitions.length">
            <template v-for="entry in realmDefinitions">
                <v-flex xs12 sm12 md6>
                    <trend-chart :title="`Event ${metric.text} by ${entry.definition.title}`" :data="entry.output" />
                </v-flex>
            </template>
        </template>
    </v-layout>
</template>
<script>
import moment from 'moment';
import Vue from 'vue';
import _ from 'lodash';

/////////////////////////////////////////

export default {
    props: {

        metric: {
            type: Object,
        },
        // metric.text: {
        //     default: 'Checkins',
        //     type: String,
        // },
        eventData: {
            type: Array,
        }
    },
    computed: {
        selectedMetric() {
            return this.metric.value;
        },
        filteredData() {
            var self = this;
            return _.filter(this.eventData, function(event) {
                if (!event.stats[self.selectedMetric]) {
                    //console.log('NOPE!')
                    return;
                }

                return true;
            })
        },
        eventRealms() {

            var self = this;


            ///////////////////////////////////////////////////

            var values = _.chain(self.filteredData)
                .map(function(event) {
                    event.values = _.reduce(event.realms, function(set, realm) {
                        var clone = _.cloneDeep(event.stats);
                        set[realm._id] = clone;
                        return set;
                    }, {});

                    /////////////////////////

                    return {
                        title: event.title,
                        date: new Date(event.startDate),
                        values: event.values,
                    }
                })
                .value();

            if (!values.length) {
                return;
            }

            ///////////////////////////////////////////////////

            var series = _.chain(self.filteredData)
                .map('realms')
                .flatten()
                .uniqBy(function(realm) {
                    return realm._id
                })
                .map(function(realm) {
                    return {
                        title: realm.title,
                        key: `[${realm._id}][${self.selectedMetric}]`,
                        // options: {
                        color: realm.bgColor,
                        // },
                        // options:{ type: 'column', stroke: { dashArray: 1, width: 1, curve: 'stepline' } },
                    }
                })
                .value();

            ///////////////////////////////////////////////////

            var output = {
                series: series,
                values: values,
            }

            return output;
        },

        realmDefinitions() {

            var self = this;

            ///////////////////////////////////////////////

            var allDefinitions = _.chain(self.filteredData)
                .map('realms')
                .flatten()
                .reduce(function(set, realm) {

                    var definition = realm.definition || realm._discriminatorType || realm._discriminator || 'realm';
                    var existing = set[definition];

                    if (!existing) {
                        existing = set[definition] = {
                            title: definition,
                            definitionName: definition,
                            realms: [],

                        }
                    }

                    existing.realms.push(realm);
                    return set;
                }, {})
                .values()
                .value();

            ///////////////////////////////////////////////

            return _.chain(allDefinitions)
                .map(function(definition) {
                    var values = _.chain(self.filteredData)
                        .map(function(event) {
                            event.values = _.reduce(event.realms, function(set, realm) {
                                var clone = _.cloneDeep(event.stats);
                                set[realm._id] = clone;
                                return set;
                            }, {});

                            /////////////////////////

                            return event;
                        })
                        .compact()
                        // .flatten()
                        .map(function(event) {
                            return {
                                title: event.title,
                                date: new Date(event.startDate),
                                values: event.values,
                            }
                        })
                        .value();

                    if (!values.length) {
                        return;
                    }

                    ///////////////////////////////////////////////////

                    var series = _.chain(self.filteredData)
                        .map('realms')
                        .flatten()
                        .filter(function(realm) {
                            return (realm.definition || realm._discriminatorType || realm._discriminator || 'realm') == definition.definitionName;
                        })
                        .uniqBy(function(realm) {
                            return realm._id
                        })
                        .map(function(realm) {
                            return {
                                title: realm.title,
                                key: `[${realm._id}][${self.selectedMetric}]`,
                                options: {},
                                color: realm.bgColor,
                                // options:{ type: 'column', stroke: { dashArray: 1, width: 1, curve: 'stepline' } },
                            }
                        })
                        .value();

                    ///////////////////////////////////////////////////

                    var output = {
                        series: series,
                        values: values,
                    }

                    return {
                        definition: definition,
                        output
                    };

                })
                .compact()
                .value();
        },

        eventDefinitions() {

            var self = this;

            ///////////////////////////////////////////////////

            var values = _.chain(self.filteredData)
                .map(function(event) {

                    var definitionName = event.definition || 'event';


                    var valueObject = {};
                    valueObject[definitionName] = event.stats;


                    return {
                        title: event.title,
                        date: new Date(event.startDate),
                        values: valueObject,
                    }

                })
                .value();

            if (!values.length) {
                return;
            }

            ///////////////////////////////////////////////////


            var series = _.chain(self.filteredData)
                .reduce(function(set, event) {
                    var definitionObject;

                    if (!event.definition) {
                        definitionObject = {
                            definitionName: 'event',
                            title: 'Event',
                            plural: 'Events',
                        }
                    } else {
                        definitionObject = {
                            title: event.definitionSingular,
                            plural: event.definitionPlural,
                            definitionName: event.definition,
                        }
                    }

                    set[definitionObject.definitionName] = definitionObject;

                    return set;

                }, {})
                .values()
                .map(function(definition) {
                    return {
                        title: definition.title,
                        key: `[${definition.definitionName}][${self.selectedMetric}]`,
                        options: {},
                    }
                })
                .value();

            ///////////////////////////////////////////////////

            var output = {
                series: series,
                values: values,
            }

            return output;
        },
        eventTracks() {

            var self = this;


            var values = _.chain(self.filteredData)
                .map(function(event) {

                    var trackID = _.get(event, 'track._id'); // || 'notrack';

                    if (!trackID) {
                        return;
                    }

                    var valueObject = {};
                    valueObject[trackID] = event.stats;


                    return {
                        title: event.title,
                        date: new Date(event.startDate),
                        values: valueObject,
                    }

                })
                .compact()
                .value();

            if (!values.length) {
                return
            }

            ///////////////////////////////////////////////////


            var series = _.chain(self.filteredData)
                .reduce(function(set, event) {

                    var trackID = _.get(event, 'track._id'); // || 'notrack';
                    if (!trackID) {
                        return set;
                    }

                    var existing = set[trackID];
                    if (!existing) {
                        existing = set[trackID] = (event.track || { title: 'No track', _id: 'notrack' });
                    }

                    return set;
                }, {})
                .values()
                .map(function(track) {
                    return {
                        title: track.title,
                        key: `[${track._id}][${self.selectedMetric}]`,
                        options: {},
                    }
                })
                .value();


            ///////////////////////////////////////////////////



            var output = {
                series: series,
                values: values,
            }

            if (!values.length) {
                return;
            }

            return output;
        },
    },
}
</script>
<style scoped lang="scss">
</style>