<template>
    <v-container grid-list-xl fluid>
        <h1>Groups <span class="muted">Overview</span></h1>
        <template v-if="loading">
            <div class="text-xs-center">
                <v-progress-circular indeterminate></v-progress-circular>
            </div>
        </template>
        <template v-else>
            <template v-if="sourceData">
                <template v-if="$route.name == 'groups'">
                    <v-layout row wrap>
                        <!-- <v-flex xs12  v-if="eventStats"> -->
                        <!-- <trend-chart title="Event Metrics Overview"  :data="eventStats" /> -->
                        <!-- <pre>{{eventStats}}</pre> -->
                        <!-- </v-flex> -->
                        <!-- <v-flex xs12 md4> -->
                        <!-- <gauge-chart label="Checked In" :min="0" :value="63.5999" :max="100"></gauge-chart> -->
                        <!-- <pie-chart :data="pieBreakdown"/> -->
                        <!-- </v-flex> -->
                        <!-- <v-flex xs12 v-if="eventTracksHeadcount">
                            <trend-chart title="Headcount by Event Track" :data="eventTracksHeadcount" />
                        </v-flex>
                        <v-flex xs12 v-if="eventTracksHeadcount">
                            <trend-chart title="Checkins by Event Track" :data="eventTracksCheckin" />
                        </v-flex> -->
                    </v-layout>
                </template>
                <!-- Sub Routes -->
                <router-view v-else />
            </template>
        </template>
    </v-container>
</template>
<script>

import _ from 'lodash';

/////////////////////////////////////////

export default {
    data() {
        return {}
    },
    asyncComputed: {
        sourceData: {
            default: [],
            get() {
                var self = this;
                return new Promise(function(resolve, reject) {
                    self.$fluro.api.get('/chart/event')
                        .then(function(res) {
                            resolve(res.data);
                            self.loading = false;
                        }, function(err) {
                            reject(err);
                            self.loading = false;
                        });
                });
            }
        },
    },
}
</script>
<style scoped lang="scss">

</style>