<template>
    <v-container grid-list-xl fluid>
        <h1>Home</h1>

        <v-btn :to="{name:'events'}">Go to events page</v-btn>
    </v-container>
</template>
<script>
import moment from 'moment';
import Vue from 'vue';
import _ from 'lodash';




/////////////////////////////////////////

export default {

    data() {
        return {
        }
    },
}
</script>
<style scoped lang="scss">
.small-label {
    
}
</style>